Package: jcodatalogger
Version: 1.0
Maintainer: mike <mpcrowe@gmail.com>
Section: text
Architecture: all
Priority: optional
Homepage: http://www.gcdataconcepts.com/gcdc1317/gcdclogger.deb
Depends: socat (>=1.7.2.4), openjdk-9-jdk (>=9.0.0)
Description: jcodatalogger Java CAN-Open, JCO application that monitors bus activity and converts it to JSON messages which are placed onto a websocket
