[Unit]
Description=A CANOPEN Bus master
After=can-socat-setup.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/DS401_Master -i0x66 -x /etc/gcdc/busmaster-config.xml -d
Type=notify
Restart=always
RestartSec=5

[Install]
RequiredBy=datalogger.service
