[Unit]
Description=Raise CAN bus interface
After=network.target
Before=busmaster.service
Before=can-socat-setup.service
Conflicts=shutdown.target

[Service]
User=root
Group=root
Type=oneshot
EnvironmentFile=/etc/gcdc/can-iface
ExecStart=
ExecStart=/sbin/ip link set can0 up type can bitrate '${BITRATE}'
ExecStop=/sbin/ip link set can0 down
RemainAfterExit=true
TimeoutStartSec=10s

[Install]
RequiredBy=busmaster.service
RequiredBy=can-socat-setup.service
