[Unit]
Description=CAN bus interface to UDP socket layer
After=can-iface.service
Before=datalogger.service

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/can-socat-setup
Restart=always
RestartSec=5

[Install]
RequiredBy=datalogger.service
